
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700;900&display=swap');

html{
	height: 100%;
}

body{ 
	font-family:'Source Serif Pro', serif;
	font-weight: 400;
	color: #000;
	letter-spacing: -.25px;
	min-height:100%;
	margin:0;
	display: table;
}

main > h1{
	font-weight: 900;
	font-size: 72px;
	margin: 0;
	margin-bottom: 1rem;
	line-height: 0.9em;
}

header{
	margin: 8rem 8rem 4rem 8rem;
}

header > img{
	width: 257px;
}

main{
	margin: auto 8rem auto 8rem;
}


main > p{
	font-size: 21px;
	max-width: 61.8%;
	margin: 0;
}

main > p > span{
	font-weight: 700;
}

footer{
	display: table-footer-group;
}


footer > .inner{
	margin: 4rem 8rem auto 8rem;
}

footer > .inner > ul{
	font-family: 'Source Sans Pro', sans-serif;
	list-style-type: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

ul > li{
	padding-bottom: 1rem;
}

ul > li > a{
	text-decoration: none;
	color: #000;
}

#bg-image{
	position: fixed; 
	right: -40px;
	bottom: -40px;
	overflow: hidden;
	z-index: -1000;
	opacity: 0.6;
}

#bg-image > img{
	width: 768px;
}

@media (max-width: 1024px){

	header, main, footer>.inner{
		margin: 4rem;
	}
	
	main>h1{
		font-size:60px;
	}

	footer>.inner{
		margin-bottom:0;
	}

	#bg-image{
		opacity: 0.1;
	}
}

@media (max-width: 480px){
	header, main, footer>.inner{
		margin: 2rem;
	}
	
	header{
		margin-bottom: 4rem;
	}

/*	footer{
		background-color: black;
		color: white;
	}*/

	footer>.inner{
		margin-bottom: 0;
	}
	
/*	footer>.inner>ul>li>a{
		color: white;
	}*/

	main>h1{
		font-size: 48px;
	}	
	
	main>p{
		max-width: 100%;
	}

	#bg-image{
		bottom: -350px;
	}
}
